@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fontpadrao);
}

:root {
    --fontpadrao: 'Source Sans Pro', sans-serif;

    /* Amostras de temas de cores em Hex */
    --cor1: #4C02F1;
    --cor2: #D8CBF4;
    --cor3: #250075;
    --cor4: #18014A;
}

/* Typical Device Breakpoints
----------------------------------------
Pequenas telas:  até 600px
Celular: de 600px ate 768px
Tablet: 768px até 992px
Desktop: 992px  até 1200px
Grandes telas: acima de 1200px
*/

/* MENU */

@media screen and (min-width: 700px) {
    #menu-burguer {
        display: none;
    }

    ul > li {
        display: inline;
    }

    .cabecalho-menu-item {
        display: block;
    }
}

/* TELAS COM MINIMO 700px E MAX 992px */

@media screen and (min-width: 700px) and (max-width: 992px) {
    html {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecalho-menu-item {
        font-size: 1.3em;
        font-weight: 700;
    }

    .cabecalho-menu-item > ul > li > a:hover {
        color: rgb(214, 214, 214);
        
    }

    .container-imagem {
        display: block;

        height: 513px;
        margin: auto;
    }

    .container-imagem > img {
        margin: auto;

        width: 382px;
        height: 513px;

        background-repeat: no-repeat;
        background-size: cover;

        border-radius: 10px 0px 0px 10px;
    }

    .container-principal-login {
        display: flex;
        flex-direction: row;

    }


    #login {
        width: 330px;
        height: 513px;
        border-radius: 0px 10px 10px 0px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    html {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecalho-menu-item {
        font-size: 1.3em;
    }

    .container-principal-login {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container-imagem {
            display: block;
            height: 457px;
    }

    .container-imagem > img {
        /* width: 343px; */
        height: 456px;

        border-radius: 10px 0px 0px 10px;
    }

    #login {
        border-radius: 0px 10px 10px 0px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        height: 100vh;
        background-image: linear-gradient(-105deg, #4C02F1, #310392, #0c0125);
    }
    

    .cabecalho-menu-item {
        font-size: 1.3em;
    }

    .container-principal-login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .container-imagem {
        display: block;
        height: 456px;
    }

    .container-imagem > img {
        height: 456px;

        border-radius: 10px 0px 0px 10px;
    }

    #login {
        border-radius: 0px 10px 10px 0px;
    }
}



